.main-header {
  
  font-size: 35px;
  margin-top: 0px;
  color: $brand-primary;
  
}

h2.post-header {
  
  font-size: 26px;
  color: $brand-primary;
  margin: 5px 0;
  
}

.section-header {
  
  font-size: 36px;
  margin-top: 0px;
  
}